* {
     margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background: #0f172a;
    color: #fff;
    
}
h2{
    margin: 20px;
    margin-left: 50px;
    font-size: 50px;
    font-weight: 600;
    color: aqua;
}
.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
input{
    width: 300px;
    height: 40px;
    max-width: 300px;
    margin-left: 50px;
    padding: 10px;
    outline: none;
    border-radius: 10px;
}
button{
    width: 100px;
    height: 40px;
    max-width: 100px;
    outline: none;
    background-color: aqua;
    padding: 10px;
    font-weight: 700;
    border-radius: 10px;
}

